body {
	background-color: #475599;
}

#tomagotchi {
	margin: 0 auto;
/*	height: 100px;
	width: 100px;
	background-color: lightblue;
	display: flex;
	flex-direction: row;
	align-content: space-around;
	margin: 0 auto;
	margin-bottom: 20px;*/
}

ul {
	color: white;
	border: 2px solid white;
	font-family: 'Roboto Condensed', sans-serif;
}

#name  {
	color: white;
	margin: 0 auto;
}

p {
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
}

h1, h2 {
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	color: white;
}

h1 {
	color: #475599;
	background-color: white;
	height: 50px;
}

button {
	background-color: #4CAF50;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	padding: 10px 20px;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	border: none;
	font-family: 'Press Start 2P', cursive;
}

#startgame {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 0 auto;
}

#namepet {
	display: block;
	margin: 0 auto;
}

footer {
/*	margin-top: 175px;*/
/*	margin-right: 50px;
	margin-left: 50px;*/
/*	border: 1px solid black;*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

input {
	font-family: 'Press Start 2P', cursive;
	width: 350px;
	height: 40px;
	font-size: 16px;
}